.log-container {
  background-color: #1f1f1f;
  padding: 50px;
}

h2 {
  text-align: left;
}

input {
  margin-top: 10px;
  min-width: 300px;
  min-height: 40px;
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}
input:hover {
  border-color: #646cff;
}

button {
  margin-top: 10px;
}
